/* место для вашего кода */
body {
    width: 1440px;
    margin: 0 auto;
    /* background-color: #000000; */
}

p, address {
    font-weight: 400;
    font-style: normal;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 92px 49px 92px 51px;
    background-color: #FFF;
}

.header__menu {
    display: flex;
    justify-content: space-between; 
}

.header__links-list-item {;
    font-size: 18px;
}

.header__links-list {
    display: flex;
    gap: 33px;
    list-style: circle;
}

/*Хотел сделать так, гугл помог сделать иначе, сделал через text-underline-offset*/
/* .header__links-list-underline {
    margin-top: 1px;
    padding-bottom: 2px;
    border-bottom: 1px solid black;
} */

.header__link_active {
    text-decoration: none;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    text-underline-offset: 4px;
}

.header__logo {
    width: 148px;
    height: 105px;
    margin: 0 345px 4px 209px;
}

.header__logo-image {
    width: 92%;
}

.address {
    display: flex;
    flex-direction: column;
    align-content: start;
    flex-wrap: nowrap;
    margin: 3px 0 7px 0;
    width: 240px;
    height: 97px;
}

.text-link {
    text-underline-offset: 5px;
    font-size: 18px;
    line-height: 25px;
}

/*Хотел сделать так, гугл помог сделать иначе, сделал через text-underline-offset*/
/* .text-link-underline {
    margin-top: 1px;
    border-bottom: 1px solid black;
} */

.address p {
    font-size: 18px;
    line-height: 24.3px;
}

.cover {
    background-image: url('/images/cover.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    color: #fff;
}

.cover__title {
    display: grid;
    gap: 21px;
    padding: 164px 50px 134px;
    color:#FFF;
    font-size: 100px;
    font-weight: 700;
    line-height: 115px;
    text-transform: uppercase;
}

.accent-span {
    letter-spacing: 30px;
}

.aligned-text {
    letter-spacing: 60px;
}

.aligned-text_center {
    text-align: center;
    line-height: 100px;
}

.aligned-text_right {
    text-align: right;
    line-height: 100px;
}

.accent-span-zero {
    letter-spacing: 0;
}

.cover__description {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 40px;
    margin-right: 50px;
    padding-bottom: 50px;
}

.cover__description-text {
    display: flex;
    justify-content: space-between; 
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: 0.1px;
    word-spacing: 17px;
}

.bet-button {
    background-color: transparent;
}

.button__link {
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 12px 32px;
    text-decoration: none; 
    border: 1px solid rgb( 255, 255, 255);
}

.overlay {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.lots {
    padding: 180px 50px 0;
}

.lots__heading {
    margin: 0 0 3px 40px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    gap: 25px;
    list-style: none;
    margin-bottom: 55px;
}

.lots__card-list-item {
    min-height: 450px;
    min-width: 430px;
  }

.card-link {
    text-decoration: none;
    margin-left: 40px;
    font-size: 20px;
}

.card {
    height: 100%;
    color: #fff;
}

.card_type_film {
    background-image: url('/images/card-lot-01.jpg');
    background-position:center;
    background-size: cover;
}

.card_type_book {
    background-image: url('/images/card-lot-02.jpg');
    background-position:center;
    background-size: cover;
}

.card_type_picture {
    background-image: url('/images/card-lot-03.jpg');
    background-size: cover;
    background-position:center;
}

.card .overlay {
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
.card__title {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 3px;
}
  
.card__text {
    text-transform: none;
    line-height: 24px%;
    font-size: 20px;
}

.lots__look-more-link {
    text-transform: lowercase;
    margin: 30px 0 2px 40px;
    font-size: 20px;
    text-underline-offset: 3px;
}

.about {
    display: flex;
    gap: 25px;
    margin: 178px 50px 180px;
}
  
.about__column:last-child { /* Cпасибо гуглу*/
    margin-top: 102px;
}
  
.about__logo {
    background-color: #000;
    border-radius: 50%;
    margin: 0 95px;
    padding: 62px 46px;
}
  
.about__logo-image {
    width: 148px;
}
  
.about__title {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
}
  
.about__text {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 100px;
}

.footer {
    font-size: 18px;
    font-weight: 400;
    padding: 0 50px 90px;
    display: flex;
    justify-content: space-between;
}

.footer__menu {
    margin-top: 1px;
}

.footer__menu-list {
    list-style: none;
    text-align: center;
}

.footer__menu-link {
    text-underline-offset: 5px;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    justify-content: end;
    gap: 48px;
    list-style: none;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}